body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff9ec;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #5a855d;
  color: white;
  width: 100%;
  padding: 1.2rem;
  text-align: center;
  font-size: 1.8rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  letter-spacing: 1px;
}

.love {
  background: #fff;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin: 3rem 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  gap: 0.5rem;
}

.pet {
  text-align: center;
}

.menu {
  display: flex;
  height: 60px;
  justify-content: space-around;
  width: 110%;
  position: fixed;
  bottom: 0;
  background: #8d7566;
  padding: 0.6rem 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.menu a {
  color: rgb(32, 32, 32);
  height: 30px;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border: 3px solid 	#5f5146;
  border-radius: 16px;
  background-color: 	#ac9580;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.2s;
  display: flex;
  margin-top: 7px;
  align-items: center;
  gap: 0.1rem;
}

.menu a:hover {
  background-color: #6b5b4e;
  text-decoration: none;
  color: #fff;
}

#profile{
  position: absolute;
    top: 0.4rem;
    left: 1rem;
    background-color: #87b189;
    padding: 1rem;
      border: 3px solid 	#4e6b4f;
  border-radius: 16px;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

#profile:hover{
  background-color: #4e6b4f;
  color: #fff;
}