header {
  background-color: #5a855d;
  color: white;
  width: 100%;
  padding: 1.2rem;
  text-align: center;
  font-size: 1.8rem;
  box-shadow: 0 0.15rem 0.3rem rgba(0,0,0,0.2);
  letter-spacing: 0.2px;
}

body{
    margin: 0;
    background-image: url(/Image-sorce/patternbkg.png);
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Pixelify Sans', sans-serif;
}

.button-nav{
    position: absolute;
    top: 0.4rem;
    background-color: #87b189;
    padding: 1rem;
    border: 0.25rem solid #4e6b4f;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.button-nav:hover{
   background-color: #4e6b4f;
  color: #fff;
}

#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #8a6b56;
    border-width: 0rem 1rem 1rem 1rem;
    padding: 1rem;
    font-size: 2rem;
}

#button-change-pet:hover{
       background-color: #4e6b4f;
  color: #fff;
}


#button-change-pet{
    background-color: #87b189;
    padding: 1rem;
    border: 0.25rem solid #4e6b4f;
    border-radius: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    width: 18rem;
    text-align: center;
    font-size: 2rem;
    position: relative;
    top: -4rem;
}

footer{
    font-size: 1rem;
    color: #546760;
    background-color: #a3e4d7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}

h3{
    font-size: 5rem;
    margin: 0rem;
    font-weight: lighter;
}

#pet-image{
    height: 30rem;
    position: relative;
    top: -3rem;
}