header {
  background-color: #5a855d;
  color: white;
  width: 100%;
  padding: 1.2rem;
  text-align: center;
  font-size: 1.8rem;
  box-shadow: 0 0.15rem 0.3rem rgba(0,0,0,0.2);
  letter-spacing: 0.2px;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;     
  padding: 2rem;
}


body {
  margin: 0;
  background-image: url(/Image-sorce/patternbkg.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Pixelify Sans', sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.button-nav{
    position: absolute;
    top: 0.4rem;
    background-color: #87b189;
    padding: 1rem;
    border: 0.25rem solid #4e6b4f;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.button-nav:hover{
   background-color: #4e6b4f;
  color: #fff;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 0.25rem solid #8a6b56;
  border-width: 1rem 1rem 1rem 1rem;
  max-width: 40rem;
}




footer {
    font-size: 1rem;
    color: #546760;
    background-color: #a3e4d7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}

#guest {
    font-size: 5rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

#pet-image {
    height: 30rem;
    margin-bottom: 1rem;
}

#name {
    font-size: 4rem;
    margin-bottom: 1rem;
}

#description {
    font-size: 2rem;
    max-width: 40rem;
    margin-left: 8rem;
}

#button-change-pet {
    background-color: #ac9580;
    padding: 1rem;
    border: 0.5rem solid #8d7566;
    border-radius: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    width: 18rem;
    text-align: center;
    margin-bottom: 2rem;
}

#button-change-pet:hover{
    background-color: #8d7566;
    color: #fff;
}

