body {
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
  min-height: 100vh;
  padding-top: 5vh;    
  padding-bottom: 5vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.form-box {
  width: 320px;
  background-color: rgb(252, 196, 124);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  border: 20px solid #ffb347;
  border-radius: 2vh;
  font-size: 1.5rem;
}

.button {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 1vh;
  cursor: pointer;
  background-color: #ffb347;
  margin-top: 2vh;
  width: 100%;
  font-family: "Pixelify Sans", sans-serif;
}

.button:hover {
  background-color: #e99014;
}

.input {
  width: 100%;
  font-family: "Pixelify Sans", sans-serif;
  font-size:1.2rem;
}

.info {
  text-align: center;
}

.Header {
  background-color: #ffb347;
  color: white;
  width: 100vw;              
  padding-bottom:1.5rem;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  letter-spacing: 1px;
  margin: 0;
  position: fixed;          
  top: 0;
  left: 0;
}

.Footer {
  color: #546760;
  background-color: #ffb347;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: auto;
  box-sizing: border-box;
  position: fixed;
}
.message {
  display: flex;
  text-align: center;
  font-size: 3.3rem;
  color: #333;
  margin-top: 1rem; 
  margin-bottom: 7rem;
}
.free-image {
  position: absolute;
  top: 70%;
  left: 85%;
  transform: translate(-50%, -50%);
  height: 15rem;
  z-index: 1;
}
.free-image1 {
  position: absolute;
  top: 35%;
  left: 15%;
  transform: translate(-50%, -50%);
  height: 15rem;
  z-index: 1;
}